<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="link.mapper.CommonMapper">

	<select id="getSkillIndex" resultType="String">
		select name from skillIndex
	</select>
	
		<select id="getCertIndex" resultType="String">
		select name from certIndex
	</select>
	
</mapper>